.DS_Store
**/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Fastlane
.env.secret
.env.secret
/build
/artifacts
*.ipa
*.dSYM.zip
fastlane/test_output
fastlane/report.xml
manifest.plist
index.html
Preview.html
sonar-reports
derivedDataTmp

